.product-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: 300px;
}

.product-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.boxed {
    padding-top: 40px;
    width: 5px;
    height: 30px;
    border: 1px solid #000;
    position: relative;
    text-align: center;
}
.discount{
    color: orange;
}
.cart{
    margin-left: 80px;
}
